* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.music-list {
    background-image: linear-gradient(#222120);
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}



.player-buttons-div {
    display: flex;
    gap: 15px;
}

.player-buttons {
    background: transparent;
    border: none;
    padding: 0;
}

.player-menu {
    background-image: radial-gradient(#45423a, #312e26, #222120);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 70vw;
    height: 100vh;
}

.null-music {
    width: 200px;
    height: 200px;
    background-image: radial-gradient(grey, dimgrey);
}

.fl {
    background: transparent;
    border: none;
    padding: 0;
}

.track-item {
    width: 100%;
    height: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.track-item p {
    width: 100%;
    white-space: nowrap;   /* disables line wrapping */
    overflow: hidden;      /* hide everything that doesn't fit */
    text-overflow: ellipsis; /* adds ... in the end */
}

.music-title {
    color: white;
}
